:root {
  --twist-primary: #1F2333;
  --twist-secondary: #466b904d;
  --twist-tertiary: #0A0B10;
  --twist-warning: #FF8A02;

  --twist-primary-light: #F7F7F7;
  --twist-primary-dark: #191C29;
  --twist-secondary-light: #383f5cee;
  --twist-secondary-dark: #16171D;
  --twist-white: #ffffff;
  --twist-secondary-white: #F1F1F1;
  --twist-dark: #191C29;
  --twist-green: #24EB80;
  --twist-yellow: #FECF05;
  --twist-gray: #C9C5C5;
  --twist-secondary-gray: #EAE8E8;
  --twist-black: #000;
  --twist-hover: gray;


  --twist-games-red: #E64747;
  --twist-games-blue: #4766E6;
  --twist-games-sky-blue: #1E70B9;
  --twist-games-green: #68A283;
  --twist-games-olive-green: #678B41;
  --twist-games-dark-green: #678B41;
  --twist-games-second-green: #46AA93;
  --twist-games-second-green-dark: #5B8636;
  --twist-games-esports-blue: #004ABD;
  --twist-games-esports-body-rose: #950d32;
  --twist-games-trivia-green-light: #B6D658;
  --twist-games-trivia-green-dark: #17591D;
  --twist-games-mibundle-blue-dark: #00284E;
  --twist-games-mibundle-blue-light: #6AB8FF;

  --twist-music-blue: #1A66FF;
  --twist-music-secondary-blue: #3C6CC7;
  --twist-music-blue-dark: #192E5C;
  --twist-music-dark-red: #AD3B43;
  --twist-music-red: #BC4040;
  --twist-music-purple: #401855;

  --twist-tv-purple: #A856E5;
  --twist-tv-purple-dark: #603FB9;

  --twist-sports-sky-blue: #3AC5EF;
  --twist-sports-blue: #3894B5;

  --twist-facebook: #1877F2;

  --twist-gradient-vertical: linear-gradient(135deg, #E64747 0%, #1A66FF 100%);
  --twist-gradient-horizontal: linear-gradient(96deg, #E64747 0%, #1A66FF 100%);

  --twist-text-hover: #749def;
}