.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.fs-32 {
  font-size: 32px !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Media Queries for RTL - LTR */

/* Screen between tablets and large screens */
@media only screen and (max-width: 1199px) {}

/* All tablets */
@media only screen and (max-width: 991px) {}

/* All mobile phones */
@media only screen and (max-width: 767px) {
  .fs-10 {
    font-size: 8px !important;
  }

  .fs-12 {
    font-size: 10px !important;
  }

  .fs-14 {
    font-size: 12px !important;
  }

  .fs-16 {
    font-size: 14px !important;
  }

  .fs-18 {
    font-size: 16px !important;
  }

  .fs-20 {
    font-size: 18px !important;
  }

  .fs-22 {
    font-size: 20px !important;
  }

  .fs-24 {
    font-size: 22px !important;
  }

  .fs-32 {
    font-size: 30px !important;
  }
}

/* Galaxy fold phone only */
@media only screen and (max-width: 319px) {}
