h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 48px;

  /*--------------------------------------------------------------------------------------------------------------------*/
  /* Media Queries for RTL - LTR */

  /* Screen between tablets and large screens */
  @media only screen and (max-width: 1199px) {}

  /* All tablets */
  @media only screen and (max-width: 991px) {}

  /* All mobile phones */
  @media only screen and (max-width: 767px) {
    margin-bottom: 24px;
  }

  /* Galaxy fold phone only */
  @media only screen and (max-width: 319px) {}
}