<section class="dialog-section" *ngIf="data.dialogType == 'terms'">
  <h4 mat-dialog-title class="fs-18 mb-4 text-center fw-bold">
    {{"Terms and condition" | translate }}
  </h4>

  <mat-dialog-content class="mat-typography">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iure repudiandae, nesciunt rerum iste aliquid,
    pariatur tenetur esse aspernatur ipsa, est laboriosam veniam? Tenetur velit eligendi optio aliquam commodi?
    Accusamus.
    Porro accusantium ipsum esse distinctio neque in, fuga ullam, molestiae ad iusto reiciendis officiis earum nam
    facilis. Ab modi obcaecati saepe architecto aspernatur ullam, eius adipisci consequatur dolorem dolores reiciendis.
    Odio, incidunt commodi magni amet pariatur earum similique, illum maiores dolore ea, nulla quaerat! Ullam animi sint
    esse? Ratione quae reprehenderit facere nostrum minima commodi reiciendis possimus perferendis natus aut.
    Dolorum expedita est reprehenderit vel exercitationem temporibus suscipit consequuntur libero quas explicabo magni
    quis, nemo debitis distinctio quaerat veniam excepturi asperiores et voluptas. Deleniti, quod dicta. Enim doloremque
    consectetur nihil.
    Ad quibusdam enim cupiditate placeat temporibus obcaecati perspiciatis voluptatibus nostrum quae debitis odit odio
    laboriosam dignissimos eligendi sapiente, facilis nemo fuga a dolores suscipit animi. Quo dicta odio dolores
    obcaecati.
    Temporibus iure eum obcaecati, in ullam fuga. Sint ut enim dicta dolorum modi, aliquid facilis perferendis corporis.
    Quo, rem a. Vel labore odit deleniti iste eveniet veritatis similique nam! Asperiores!
    Facere praesentium nulla commodi enim expedita maxime consectetur eaque, autem quis nostrum officia in neque aut
    ipsum, perspiciatis deserunt at quam nam exercitationem blanditiis fugiat. Fugit placeat nemo dolorum harum.
    Alias cupiditate sit debitis incidunt nesciunt ipsa, asperiores sint corrupti in, maiores laudantium quod odit
    voluptatem eius? Sunt vero sapiente nemo, iste assumenda quibusdam debitis aliquam alias qui. Cupiditate, deleniti!
    Recusandae aspernatur repellat fugiat iure, unde accusantium vero minima quidem eligendi repellendus, nulla
    voluptatibus commodi, corrupti nam error numquam ducimus eum sit rem obcaecati! Tempora nemo est sunt provident
    fugiat!
    Quaerat iste autem illum, dolores, totam rem iusto, laudantium quasi officia non magni soluta veniam! Quae, at
    corrupti officia facere sed recusandae vitae dolorum cum veritatis molestiae tempora! Enim, rerum?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, veritatis fugiat labore inventore unde
    repudiandae soluta neque voluptate? Dolore iste impedit voluptas quaerat maiores dolorem ut rem quod voluptates
    odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facilis magnam excepturi doloremque expedita
    perferendis? Reiciendis distinctio harum ipsa pariatur totam, eius iure assumenda natus eveniet dignissimos ex
    ducimus laudantium?
    Nihil, consequuntur? Consectetur excepturi optio ipsa doloremque iure dolor magnam labore magni. Facilis eum quam
    quaerat laboriosam, incidunt eveniet asperiores placeat adipisci aliquam perferendis aut amet veritatis facere
    magnam repellat!
    A blanditiis harum officia vitae officiis. Laborum dicta, blanditiis provident expedita tenetur labore nesciunt
    ipsum sit a unde cumque voluptatum iusto libero doloremque! Quaerat officiis unde dolore pariatur tempora impedit.
    Neque at eos rem cupiditate natus laborum veniam, ipsa pariatur. Totam, optio placeat aliquid autem laborum ipsum
    sed itaque non est, sit ipsa velit rem harum tenetur? Minima, non quo.
    Eaque minus et ipsum maxime dolor sed inventore voluptatibus, totam itaque dicta vitae consequuntur? Perspiciatis
    earum corporis, aspernatur alias animi voluptatem, explicabo officiis qui rem quae eius, id doloribus laborum.
    Sit est esse vero alias nisi ea dolores similique aliquam culpa nulla eos maiores, nobis accusantium neque iste et,
    modi animi. Fugiat officia laudantium ipsa quibusdam mollitia voluptatibus placeat facere!
    Itaque, exercitationem molestiae debitis ipsa dolor illum hic. Assumenda, sit beatae? Amet esse autem id iusto, eos
    repellat maiores soluta quisquam suscipit reiciendis. Numquam fuga recusandae nostrum quod odio beatae?
    Molestiae quidem soluta ratione, natus fuga dicta officia sapiente vero ipsum harum! Ullam consectetur consequatur
    libero architecto maiores, minima veritatis, quibusdam aspernatur, itaque accusantium doloribus praesentium
    similique molestiae corrupti nobis!
    Aliquam consectetur necessitatibus iste minus porro amet illum officiis est voluptatibus doloremque aut illo ipsum
    sequi non excepturi beatae explicabo, quos fugiat alias quo veniam nam fugit ipsam provident? Tempora?
    Doloribus perferendis eius quasi officia, amet voluptatem ipsam commodi sed reiciendis error, ex excepturi, delectus
    provident molestiae dolor. Tenetur, exercitationem? Soluta eligendi culpa laborum totam quia veritatis eaque fugiat
    recusandae.
    Quia saepe aut, repellendus expedita numquam maiores sint eligendi in qui tenetur, dolor hic alias eveniet et?
    Nostrum recusandae adipisci vero ullam qui, ipsa facilis, mollitia explicabo, quae officiis ipsum!
    Officia voluptatibus voluptatem error, tempora debitis, veniam, harum vel doloribus corporis recusandae eos odit.
    Numquam asperiores reprehenderit, dolore labore impedit harum cumque ipsum pariatur molestias, quidem placeat
    quisquam officia quia.
    Cupiditate excepturi totam, eaque expedita et, explicabo voluptate fugiat fuga minima dignissimos non similique ad
    molestiae odio accusantium earum dolores possimus molestias, qui veniam aut vero. Magni consectetur itaque corrupti.
    Quibusdam laudantium unde sit animi est at quo dolorem aliquid non. Recusandae error non temporibus, necessitatibus
    eaque quas minus, sapiente iure repellat ad animi! Optio adipisci dolore doloremque laboriosam molestiae?
    Cupiditate inventore a commodi aspernatur beatae quam, qui, recusandae laboriosam amet nihil laborum soluta aliquid.
    Maxime, officiis quasi voluptate quam veritatis temporibus quibusdam ea enim esse laborum id voluptates error?
    Suscipit, molestiae ipsa quae pariatur quis doloremque vero ad omnis recusandae error temporibus adipisci, libero
    consequatur architecto repellendus, asperiores odio voluptas! Deleniti quod vitae repellat placeat explicabo
    consectetur possimus neque!
    Dolores sequi autem quasi recusandae dolor ea sit, a mollitia porro sunt quisquam commodi doloribus dolore
    accusantium minus est rem sed quos cupiditate expedita. Iure maxime doloribus eius qui deleniti?
    Ipsa animi explicabo beatae iure, a quae nihil, similique commodi dolore officiis molestiae, est nam cupiditate.
    Error, a? Eum quibusdam velit commodi, nisi obcaecati saepe dolorem odit rem molestiae eos?
    Ratione blanditiis accusamus pariatur architecto! Nesciunt saepe corporis impedit ullam aperiam itaque obcaecati
    laborum, aliquam nisi iusto cum mollitia in? Iure beatae hic est ea enim, id iste earum quia!
    Adipisci, assumenda consequuntur repudiandae aperiam totam at nihil cum ratione, laboriosam magnam est nemo quaerat
    iste veritatis, minus porro ducimus aliquid labore. Laudantium quibusdam similique debitis? Culpa unde beatae qui!
    Sapiente asperiores nihil perspiciatis magni dolorem nesciunt eveniet aliquid ratione excepturi voluptatem. Fuga,
    labore reiciendis! Reiciendis nesciunt, accusamus non fugit iusto cumque pariatur veritatis, quis velit quam, odio
    dignissimos excepturi!
    Minus, repellendus dignissimos. Exercitationem provident delectus aut, molestiae accusamus consequatur id obcaecati
    ipsa eligendi saepe, labore earum natus corporis distinctio praesentium iure porro excepturi, fuga numquam magni
    quia unde recusandae!
    Molestiae eius quas id? Incidunt voluptates molestiae nihil enim aspernatur facilis maxime soluta dolorem eveniet.
    Ut maxime consectetur unde voluptatibus voluptates aliquam! Cupiditate, quia molestias. Porro eaque dolore ex non?
    Expedita quibusdam sed a adipisci inventore optio velit impedit qui, animi aut molestias non at nesciunt, nobis quod
    placeat similique! Dolorem dolor dignissimos iusto distinctio error quia, optio quidem porro.
    Nemo numquam eligendi recusandae tempore mollitia ea culpa beatae maxime iusto doloremque atque odit incidunt
    excepturi commodi consectetur aperiam reiciendis odio quisquam, ad aut. Voluptate blanditiis soluta nisi cumque
    fuga!
    Delectus qui rem possimus ipsa accusantium nam culpa error dolore dolorum nemo ipsum aspernatur deserunt est,
    similique quo quae totam et reprehenderit a iste rerum soluta dolores, assumenda labore. Sequi.
    Necessitatibus nobis magni dicta amet repudiandae natus nemo molestiae, quia quod quasi perspiciatis! Hic ratione,
    assumenda error vel neque esse molestiae ipsam officia ab distinctio dicta aliquid modi nisi temporibus.
    Maxime cum est numquam quisquam soluta eius odit, quidem dolorem magni nisi voluptate voluptatibus aliquam ipsa
    nostrum non adipisci, a voluptatem! Possimus veritatis vitae porro vero dicta expedita fugit ratione!
    Sequi dolores iure molestiae similique fuga nobis mollitia recusandae eius ipsa dolorem ratione at, quia dignissimos
    facere dolor? Dolores, nulla? Facilis unde magnam beatae nesciunt asperiores officia nobis nihil nemo?
    Suscipit excepturi eum, incidunt neque deleniti nobis dolorum omnis et iste cupiditate alias, at in earum rem facere
    magni dolore assumenda. Quas facilis consequatur, adipisci deserunt cupiditate enim assumenda necessitatibus!
  </mat-dialog-content>

  <a class="close-dialog-btn" mat-dialog-close>
    <img src="assets/icons/icn_close_circle.png" [alt]="'Close icon'| translate ">
  </a>
</section>
<section class="dialog-section" *ngIf="data.dialogType == 'privacy'">
  <h4 mat-dialog-title class="fs-18 mb-4 text-center fw-bold">
    {{"Privacy and policy" | translate }}
  </h4>

  <mat-dialog-content class="mat-typography">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iure repudiandae, nesciunt rerum iste aliquid,
    pariatur tenetur esse aspernatur ipsa, est laboriosam veniam? Tenetur velit eligendi optio aliquam commodi?
    Accusamus.
    Porro accusantium ipsum esse distinctio neque in, fuga ullam, molestiae ad iusto reiciendis officiis earum nam
    facilis. Ab modi obcaecati saepe architecto aspernatur ullam, eius adipisci consequatur dolorem dolores reiciendis.
    Odio, incidunt commodi magni amet pariatur earum similique, illum maiores dolore ea, nulla quaerat! Ullam animi sint
    esse? Ratione quae reprehenderit facere nostrum minima commodi reiciendis possimus perferendis natus aut.
    Dolorum expedita est reprehenderit vel exercitationem temporibus suscipit consequuntur libero quas explicabo magni
    quis, nemo debitis distinctio quaerat veniam excepturi asperiores et voluptas. Deleniti, quod dicta. Enim doloremque
    consectetur nihil.
    Ad quibusdam enim cupiditate placeat temporibus obcaecati perspiciatis voluptatibus nostrum quae debitis odit odio
    laboriosam dignissimos eligendi sapiente, facilis nemo fuga a dolores suscipit animi. Quo dicta odio dolores
    obcaecati.
    Temporibus iure eum obcaecati, in ullam fuga. Sint ut enim dicta dolorum modi, aliquid facilis perferendis corporis.
    Quo, rem a. Vel labore odit deleniti iste eveniet veritatis similique nam! Asperiores!
    Facere praesentium nulla commodi enim expedita maxime consectetur eaque, autem quis nostrum officia in neque aut
    ipsum, perspiciatis deserunt at quam nam exercitationem blanditiis fugiat. Fugit placeat nemo dolorum harum.
    Alias cupiditate sit debitis incidunt nesciunt ipsa, asperiores sint corrupti in, maiores laudantium quod odit
    voluptatem eius? Sunt vero sapiente nemo, iste assumenda quibusdam debitis aliquam alias qui. Cupiditate, deleniti!
    Recusandae aspernatur repellat fugiat iure, unde accusantium vero minima quidem eligendi repellendus, nulla
    voluptatibus commodi, corrupti nam error numquam ducimus eum sit rem obcaecati! Tempora nemo est sunt provident
    fugiat!
    Quaerat iste autem illum, dolores, totam rem iusto, laudantium quasi officia non magni soluta veniam! Quae, at
    corrupti officia facere sed recusandae vitae dolorum cum veritatis molestiae tempora! Enim, rerum?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, veritatis fugiat labore inventore unde
    repudiandae soluta neque voluptate? Dolore iste impedit voluptas quaerat maiores dolorem ut rem quod voluptates
    odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facilis magnam excepturi doloremque expedita
    perferendis? Reiciendis distinctio harum ipsa pariatur totam, eius iure assumenda natus eveniet dignissimos ex
    ducimus laudantium?
    Nihil, consequuntur? Consectetur excepturi optio ipsa doloremque iure dolor magnam labore magni. Facilis eum quam
    quaerat laboriosam, incidunt eveniet asperiores placeat adipisci aliquam perferendis aut amet veritatis facere
    magnam repellat!
    A blanditiis harum officia vitae officiis. Laborum dicta, blanditiis provident expedita tenetur labore nesciunt
    ipsum sit a unde cumque voluptatum iusto libero doloremque! Quaerat officiis unde dolore pariatur tempora impedit.
    Neque at eos rem cupiditate natus laborum veniam, ipsa pariatur. Totam, optio placeat aliquid autem laborum ipsum
    sed itaque non est, sit ipsa velit rem harum tenetur? Minima, non quo.
    Eaque minus et ipsum maxime dolor sed inventore voluptatibus, totam itaque dicta vitae consequuntur? Perspiciatis
    earum corporis, aspernatur alias animi voluptatem, explicabo officiis qui rem quae eius, id doloribus laborum.
    Sit est esse vero alias nisi ea dolores similique aliquam culpa nulla eos maiores, nobis accusantium neque iste et,
    modi animi. Fugiat officia laudantium ipsa quibusdam mollitia voluptatibus placeat facere!
    Itaque, exercitationem molestiae debitis ipsa dolor illum hic. Assumenda, sit beatae? Amet esse autem id iusto, eos
    repellat maiores soluta quisquam suscipit reiciendis. Numquam fuga recusandae nostrum quod odio beatae?
    Molestiae quidem soluta ratione, natus fuga dicta officia sapiente vero ipsum harum! Ullam consectetur consequatur
    libero architecto maiores, minima veritatis, quibusdam aspernatur, itaque accusantium doloribus praesentium
    similique molestiae corrupti nobis!
    Aliquam consectetur necessitatibus iste minus porro amet illum officiis est voluptatibus doloremque aut illo ipsum
    sequi non excepturi beatae explicabo, quos fugiat alias quo veniam nam fugit ipsam provident? Tempora?
    Doloribus perferendis eius quasi officia, amet voluptatem ipsam commodi sed reiciendis error, ex excepturi, delectus
    provident molestiae dolor. Tenetur, exercitationem? Soluta eligendi culpa laborum totam quia veritatis eaque fugiat
    recusandae.
    Quia saepe aut, repellendus expedita numquam maiores sint eligendi in qui tenetur, dolor hic alias eveniet et?
    Nostrum recusandae adipisci vero ullam qui, ipsa facilis, mollitia explicabo, quae officiis ipsum!
    Officia voluptatibus voluptatem error, tempora debitis, veniam, harum vel doloribus corporis recusandae eos odit.
    Numquam asperiores reprehenderit, dolore labore impedit harum cumque ipsum pariatur molestias, quidem placeat
    quisquam officia quia.
    Cupiditate excepturi totam, eaque expedita et, explicabo voluptate fugiat fuga minima dignissimos non similique ad
    molestiae odio accusantium earum dolores possimus molestias, qui veniam aut vero. Magni consectetur itaque corrupti.
    Quibusdam laudantium unde sit animi est at quo dolorem aliquid non. Recusandae error non temporibus, necessitatibus
    eaque quas minus, sapiente iure repellat ad animi! Optio adipisci dolore doloremque laboriosam molestiae?
    Cupiditate inventore a commodi aspernatur beatae quam, qui, recusandae laboriosam amet nihil laborum soluta aliquid.
    Maxime, officiis quasi voluptate quam veritatis temporibus quibusdam ea enim esse laborum id voluptates error?
    Suscipit, molestiae ipsa quae pariatur quis doloremque vero ad omnis recusandae error temporibus adipisci, libero
    consequatur architecto repellendus, asperiores odio voluptas! Deleniti quod vitae repellat placeat explicabo
    consectetur possimus neque!
    Dolores sequi autem quasi recusandae dolor ea sit, a mollitia porro sunt quisquam commodi doloribus dolore
    accusantium minus est rem sed quos cupiditate expedita. Iure maxime doloribus eius qui deleniti?
    Ipsa animi explicabo beatae iure, a quae nihil, similique commodi dolore officiis molestiae, est nam cupiditate.
    Error, a? Eum quibusdam velit commodi, nisi obcaecati saepe dolorem odit rem molestiae eos?
    Ratione blanditiis accusamus pariatur architecto! Nesciunt saepe corporis impedit ullam aperiam itaque obcaecati
    laborum, aliquam nisi iusto cum mollitia in? Iure beatae hic est ea enim, id iste earum quia!
    Adipisci, assumenda consequuntur repudiandae aperiam totam at nihil cum ratione, laboriosam magnam est nemo quaerat
    iste veritatis, minus porro ducimus aliquid labore. Laudantium quibusdam similique debitis? Culpa unde beatae qui!
    Sapiente asperiores nihil perspiciatis magni dolorem nesciunt eveniet aliquid ratione excepturi voluptatem. Fuga,
    labore reiciendis! Reiciendis nesciunt, accusamus non fugit iusto cumque pariatur veritatis, quis velit quam, odio
    dignissimos excepturi!
    Minus, repellendus dignissimos. Exercitationem provident delectus aut, molestiae accusamus consequatur id obcaecati
    ipsa eligendi saepe, labore earum natus corporis distinctio praesentium iure porro excepturi, fuga numquam magni
    quia unde recusandae!
    Molestiae eius quas id? Incidunt voluptates molestiae nihil enim aspernatur facilis maxime soluta dolorem eveniet.
    Ut maxime consectetur unde voluptatibus voluptates aliquam! Cupiditate, quia molestias. Porro eaque dolore ex non?
    Expedita quibusdam sed a adipisci inventore optio velit impedit qui, animi aut molestias non at nesciunt, nobis quod
    placeat similique! Dolorem dolor dignissimos iusto distinctio error quia, optio quidem porro.
    Nemo numquam eligendi recusandae tempore mollitia ea culpa beatae maxime iusto doloremque atque odit incidunt
    excepturi commodi consectetur aperiam reiciendis odio quisquam, ad aut. Voluptate blanditiis soluta nisi cumque
    fuga!
    Delectus qui rem possimus ipsa accusantium nam culpa error dolore dolorum nemo ipsum aspernatur deserunt est,
    similique quo quae totam et reprehenderit a iste rerum soluta dolores, assumenda labore. Sequi.
    Necessitatibus nobis magni dicta amet repudiandae natus nemo molestiae, quia quod quasi perspiciatis! Hic ratione,
    assumenda error vel neque esse molestiae ipsam officia ab distinctio dicta aliquid modi nisi temporibus.
    Maxime cum est numquam quisquam soluta eius odit, quidem dolorem magni nisi voluptate voluptatibus aliquam ipsa
    nostrum non adipisci, a voluptatem! Possimus veritatis vitae porro vero dicta expedita fugit ratione!
    Sequi dolores iure molestiae similique fuga nobis mollitia recusandae eius ipsa dolorem ratione at, quia dignissimos
    facere dolor? Dolores, nulla? Facilis unde magnam beatae nesciunt asperiores officia nobis nihil nemo?
    Suscipit excepturi eum, incidunt neque deleniti nobis dolorum omnis et iste cupiditate alias, at in earum rem facere
    magni dolore assumenda. Quas facilis consequatur, adipisci deserunt cupiditate enim assumenda necessitatibus!
  </mat-dialog-content>

  <a class="close-dialog-btn" mat-dialog-close>
    <img src="assets/icons/icn_close_circle.png" [alt]="'Close icon'| translate ">
  </a>
</section>